
@{
    ViewBag.Title = "Test";
}
@section scripts{

    <script src="~/Scripts/Applivations/Logic.js"></script>


    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            initAssetAssigment();
        })
    </script>
}

<h2>Test Json Interface</h2>

<p>

    <input id="LocationCode" type="text" placeholder="LocationCode" />
</p>

<p>

    <input id="AssetCode" type="text" placeholder="AssetCode" />
</p>
<input id="AssignAssetButton" type="button" value="AssignAsset" />




